[submodule "vim/bundle/fzf.vim"]
	path = vim/bundle/fzf.vim
	url = git://github.com/junegunn/fzf.vim.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/undotree"]
	path = vim/bundle/undotree
	url = git://github.com/mbbill/undotree.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-visual-page-percent"]
	path = vim/bundle/vim-visual-page-percent
	url = git://github.com/naddeoa/vim-visual-page-percent.git
[submodule "vim/bundle/vimtex"]
	path = vim/bundle/vimtex
	url = git://github.com/lervag/vimtex.git
[submodule "vim/bundle/replacewithregister"]
	path = vim/bundle/replacewithregister
	url = git://github.com/vim-scripts/ReplaceWithRegister.git
[submodule "vim/bundle/vim-ingo-library"]
	path = vim/bundle/vim-ingo-library
	url = git://github.com/inkarkat/vim-ingo-library.git
[submodule "vim/bundle/vim-EnhancedJumps"]
	path = vim/bundle/vim-EnhancedJumps
	url = git://github.com/inkarkat/vim-EnhancedJumps.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = git://github.com/fatih/vim-go.git
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = git://github.com/vimwiki/vimwiki.git
[submodule "vim/bundle/vim-racket"]
	path = vim/bundle/vim-racket
	url = git://github.com/wlangstroth/vim-racket.git
[submodule "vim/bundle/julia-vim"]
	path = vim/bundle/julia-vim
	url = git://github.com/JuliaEditorSupport/julia-vim.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
