[submodule "vim/bundle/fzf.vim"]
	path = vim/bundle/fzf.vim
	url = git://github.com/junegunn/fzf.vim.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/undotree"]
	path = vim/bundle/undotree
	url = git://github.com/mbbill/undotree.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-visual-page-percent"]
	path = vim/bundle/vim-visual-page-percent
	url = git://github.com/naddeoa/vim-visual-page-percent.git
[submodule "vim/bundle/vimtex"]
	path = vim/bundle/vimtex
	url = git://github.com/lervag/vimtex.git
[submodule "vim/bundle/replacewithregister"]
	path = vim/bundle/replacewithregister
	url = git://github.com/vim-scripts/ReplaceWithRegister.git
